html{
    
    font-family: 'Schoolbell', cursive;
    height: max-content; 
    /* width: minmax(200px,1510px); */
    width: auto;
    margin:0;
    margin-right: 0;
    padding: 0;
    background-image: url("https://images.unsplash.com/photo-1594993385151-8b0931ccd183?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
body{
    width: auto;
    margin:0;
    padding: 0;
    /* height: 1500px; */
}

.grid {
     
    /* background-color: black; */
    max-width: 1200px;
    /* background-color: brown; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    /* column-gap: 0; */
      /* row-gap: 50px;   */
} 

 
.grid img{
    width: 300px;
    height: 250px;
     
    /* display:-moz-inline-grid; */
    
}
 
h1 {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 3rem;
}
.messages {
    width: auto;
    height: 80px;
    text-align: center;
    /* background: deeppink; */
    color: #ffffff;
    border: 1px solid black;
    background-color: #a224cc;
    background-image: url("https://images.unsplash.com/photo-1504093376055-b3094b674dcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-size: 2rem;
    padding-top: 30px;
    margin-right: 0;
     
 
}
.btn{
    background-color: rgb(53, 32, 73);
    color: #FFF;
    text-decoration: none;
    font-size: 1.18rem;
    padding: 10px 10px;
    border-radius: 2em;
    display: inline-block;
    margin:20px;
}
.btn:focus {
    outline: none;
    background-color: rgb(102, 19, 46);
    
}
.dif{
    width: 70%;
    text-align:center ;
}

.tries{
    font-size: 2rem;
}
#Tries{
    font-size: 2.3rem;
}
.container{
    display: flex;
}